loading-animation{
    left:0;
    width:10%;
    animation: translate 15s infinite linear;
}
img {
animation: upDown 1.5s alternate infinite ease-in-out;
width:100%;
}

@keyframes upDown {
to { transform: translatey(100px);}
}
@keyframes translate {
to { transform: translatex(900%);}
}