<div class="container">
    <div class="row justify-content-center">
        <div *ngIf="!people || !people.id" class="text-center justify-content-center loading-animation">
            <img src="assets/polvo_png.png" style="width: 350px;" class="card-img-top m-auto" alt="...">
        </div>
        <div *ngIf="people && people.id" class="col-xs-4" style="width: 550px;">
            <div class="card">
                <img src="assets/people_asset.jpg" style="width: 350px;" class="card-img-top m-auto" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{people.name}}</h5>
                    <h6>Gender</h6>
                    <p class="card-text">{{people.gender}}</p>
                    <h6>Age</h6>
                    <p class="card-text">{{people.age}}</p>
                    <h6>Hair Color</h6>
                    <p class="card-text">{{people.hair_color}}</p>
                    <h6>Eye Color</h6>
                    <p class="card-text">{{people.eye_color}}</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filmPeople">
                        Film
                      </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="filmPeople" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Film(s)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="people && people.films" class="card-deck justify-content-center">
                <app-film-card *ngFor="let film of people.films" [path]="film"></app-film-card>
            </div>
        </div>
        <div class="modal-footer">
            <button #closeModalPeople type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>

