<div class="container">
    <div class="row justify-content-center">
        <div *ngIf="!location || !location.id" class="text-center justify-content-center loading-animation">
            <img src="assets/polvo_png.png" style="width: 350px;" class="card-img-top m-auto" alt="...">
        </div>
        <div *ngIf="location && location.id" class="col-xs-4" style="width: 550px;">
            <div class="card">
                <img src="assets/places_asset.jpg" style="width: 350px;" class="card-img-top m-auto" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{location.name}}</h5>
                    <h6>Surface Water Percent</h6> 
                    <p class="card-text">{{location.surface_water}}</p>
                    <h6>Terrain</h6> 
                    <p class="card-text">{{location.terrain}}</p>
                    <h6>Climate</h6> 
                    <p class="card-text">{{location.climate}}</p>
                    <button *ngIf="location && location.films.length && location.films[0] !='TODO'" type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#filmLocation">Film</button>
                    <button *ngIf="location && location.residents.length && location.residents[0] !='TODO'" type="button" class="btn btn-primary ml-2" data-toggle="modal" data-target="#residentsLocation">Residents</button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="filmLocation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Residents</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="location && location.films" class="card-deck justify-content-center">
                <app-film-card *ngFor="let film of location.films" [path]="film"></app-film-card>
            </div>
        </div>
        <div class="modal-footer">
            <button #closeFilmModal type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>


<div class="modal fade" id="residentsLocation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Film(s)</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div *ngIf="location && location.residents" class="card-deck justify-content-center">
                <app-people-card *ngFor="let resident of location.residents" [path]="resident"></app-people-card>
            </div>
        </div>
        <div class="modal-footer">
            <button #closeResidentModal type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
