<div class="container">
    <div class="row">
        <div class="col-12 mb-3">
            <app-filters-film (onChangeFilters)="findByFilters($event)"></app-filters-film>
        </div>
        <div *ngIf="!filmsList || !filmsList.length" class="col-12 d-flex justify-content-center loading-animation">
            <img src="assets/polvo_png.png" style="width: 350px;" class="card-img-top m-auto" alt="...">
        </div>
        <div *ngIf="filmsList && filmsList.length" class="card-deck justify-content-center">
            <app-film-card *ngFor="let film of filmsList" [film]="film"></app-film-card>
        </div>
    </div>
</div>