<div class="container">
    <div class="row justify-content-center">
        <div *ngIf="!vehicle || !vehicle.id" class="text-center justify-content-center loading-animation">
            <img src="assets/polvo_png.png" style="width: 350px;" class="card-img-top m-auto" alt="...">
        </div>
        <div *ngIf="vehicle && vehicle.id" class="col-xs-4" style="width: 550px;">
            <div class="card">
                <img src="assets/vehicle_asset.jpg" style="width: 350px;" class="card-img-top m-auto" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{vehicle.name}}</h5>
                    <h6>Description</h6>
                    <p class="card-text">{{vehicle.description}}</p>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contentCharacter">
                        Pilot
                      </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="contentCharacter" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pilot</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div *ngIf="vehicle && vehicle.pilot" class="card-deck justify-content-center">
              <app-people-card  [path]="vehicle.pilot"></app-people-card>
          </div>
      </div>
      <div class="modal-footer">
        <button #closePilotModal type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>