<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-1">
  
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1" target="_blank" rel="noopener noreferrer" href="https://github.com/carloscr/ghibli-project">
          <i class="fab fa-github"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/carlos-c%C3%A1ceres-rodr%C3%ADguez-262408156/">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
    </ul>
    <div class="footer-copyright text-center d-inline">
        <div>Carlos Cáceres</div>
        <a target="_blank" rel="noopener noreferrer" href="https://ghibliapi.herokuapp.com/"> API Ghibli Heroku</a>
    </div> 
  </footer>